<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ welcome.value }}!
  </h1>
</div>
<h2>Episodes </h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Release year</th>
    </tr>
  </thead>

  <input type="text" #welcome>

  <tbody>
    <tr *ngFor="let episode of episodes">
      <td>name</td>
      <td>year</td>
    </tr>
    <tr>
      <td colspan="2">
        <button (click)="episodes.push({name: 'new', year: 2018})">+</button>
        <button (click)="episodes.pop()">-</button>
      </td>
    </tr>
  </tbody>
</table>
