<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <h1 class="col-md-12 starwars">{{ title }}!</h1>
  </div>
  <div class="row">
    <h2 class="col-md-12">Episodes </h2>
  </div>
  <div class="row">
    <table class="col-md-12 table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Release year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let episode of episodes" [class.table-primary]="episode.selected" (mouseleave)="episode.selected = false" (mouseenter)="episode.selected = true" >
          <td>{{episode | episode}}</td>
          <td>{{episode.releaseDate | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
